body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: #f0dbad;
}

.grid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-container h1 {
    color: rgb(15, 44, 88);
    font-size: 64px;
    font-family: 'Caveat', cursive;
}

.grid-container button {
    margin-top: 16px;
    width: 120px;
}

.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:100px;
}

/* SETTINGS */

.settings {
    font-family: 'Caveat', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 1px;
}

.settings h2 {
    color: rgb(15, 44, 88);
    font-size: 36px;
}

.settings .preview-header {
    color: rgb(15, 44, 88);
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    border: 2px solid rgb(15, 44, 88);
    border-radius: 8px;
    padding: 5px;
}

.color-preview {
    background-color: black;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    margin-bottom: 30px;
    transition: 0.25s;
    border: 2px solid black;
}

.color-preview input {
    cursor: pointer;
}

.color-preview:hover {
    transform: scale(1.1);
}

.settings p {
    color: rgb(15, 44, 88);
    font-weight: bold;
    font-size: 28px;
}

.buttons {
    font-family: 'Caveat', cursive;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    transition: 0.15s;
    border-radius: 8px;
    padding: 12px;
    outline: 0;
    color: rgb(15, 44, 88);
    cursor: pointer;
    background-color: #f0dbad;
    border: 2px solid rgb(15, 44, 88);
}

.buttons:hover {
    transform: scale(1.1);
    color: white;
    background-color: rgb(15, 44, 88);
}

/* MAIN GAME DISPLAY */

.grid {
    width: 600px;
    height: 600px;
    display: grid;
    border: 20px solid rgba(34, 4, 4, 0.877);
    border-radius: 8px;
}

.grid-item {
    transition: background-color 0.5s;
    user-select: none;
}

/* FOOTER */

.footer {
    color: black;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    gap: 8px;
}


.footer a {
    color:black;
    transition: transform 0.2s;
}

.footer a:hover {
   transform: scale(1.2);
}